






/*===========================
    12.CALL TO ACTION css 
===========================*/

.call-action-cont{
    & h3{
        font-weight: 600;
        font-size: 32px;
    }
}

.call-action-btn{
    & .main-btn{
        width: 100%;
        text-transform: capitalize;
        
        @media #{$xs}{
            width: 165px;
        }
    }
}







