






/*=================================
      34.ERROR PAGE  css 
=================================*/


.error-content{
    & p{
        font-weight: 600;
        color: $heading-color;
    }
}




#error-part{
    @media #{$md}{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media #{$xs}{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}