






/*===========================
    20.PROJECTS PAGE css 
===========================*/

#project-page{
    @media #{$md}{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    @media #{$xs}{
        padding-top: 30px;
        padding-bottom: 70px;
    }
}







