






/*===========================
         24.FAQS css 
===========================*/

.single-questions{
    & h4{
        font-size: 20px;
        font-weight: 600;
    }
}


#questions-part{
    @media #{$md}{
        padding-top: 25px;
        padding-bottom: 75px;
    }
    @media #{$xs}{
        padding-top: 15px;
        padding-bottom: 65px;
    }
}

#faqs-part{
    @media #{$md}{
        padding-top: 70px;
        padding-bottom: 80px;
    }
    @media #{$xs}{
        padding-top: 65px;
        padding-bottom: 70px;
    }
}